section#about.container.text-center.ab.pt-5
  h1 About us
  .row.r1
    .col-md-6.d-block.m-top
      h1.text-start
        | #{leftBlock1.line1}
        br
        |  #{leftBlock1.line2}
        br
        | #{leftBlock1.line3}
    .col-md-6.text-start
      p #{rightBlock1.para}
section.container.text-center.bg-dark.about2
  h1(style='padding-top:50px ;') #{block2.head}
  .row.r2
    .col-sm-3.d-block.m-auto.ab2(style='margin-right: 10px;')
      h1 #{block2.passion1.content1}+
      h3 #{block2.passion1.content2}
    .col-sm-3.d-block.m-auto.ab2
      h1 #{block2.passion2.content1}+
      h3 #{block2.passion2.content2}
    .col-sm-3.d-block.m-auto.ab2
      h1 #{block2.passion3.content1}+
      h3 #{block2.passion3.content2}
    .col-sm-3.d-block.m-auto.ab2
      h1 #{block2.passion4.content1}+
      h3 #{block2.passion4.content2}
section#team.container.text-center.bg-light
  h1 Our Team
  p
    b
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis minima doloribus, consequuntur
      | laboriosam repudiandae sequi facilis, tenetur perferendis nesciunt rem magni fugit minus? Repudiandae
      | sed eos veniam voluptate, tempore doloribus!
  .row
    .col-md-4.d-block.m-auto
      figure
        img.figure-img.img-fluid.rounded-circle(src='static/images/nilesh.jfif' alt='' width='250px' height='250px')
        figcaption
          h4 Nilesh Muneshwar
          p.figure-caption Team Lead(Full Stack Developer)
    .col-md-4.d-block.m-auto
      figure
        img.figure-img.img-fluid.rounded-circle(src='static/images/Shaheen.jpg' alt='' width='250px' height='250px')
        figcaption
          h4 Shaheen Bano
          p.figure-caption JS Backend Developer
    .col-md-4.d-block.m-auto
      figure
        img.figure-img.img-fluid.rounded-circle(src='static/images/ravi.jpg' alt='' width='250px' height='250px')
        figcaption
          h4 Ravi Rana
          p.figure-caption PHP Developer
    .col-md-4.d-block.m-auto
      figure
        img.figure-img.img-fluid.rounded-circle(src='static/images/santosh.jpg' alt='' width='250px' height='250px')
        figcaption
          h4 Santosh Kumar
          p.figure-caption PHP Developer
    .col-md-4.d-block.m-auto
      figure
        img.figure-img.img-fluid.rounded-circle(src='static/images/kishan.jpg' alt='' width='250px' height='250px')
        figcaption
          h4 Kishan Gupta
          p.figure-caption PHP Developer
    .col-md-4.d-block.m-auto
      figure
        img.figure-img.img-fluid.rounded-circle(src='static/images/praniv.jpg' alt='' width='250px' height='250px')
        figcaption
          h4 Pravin
          p.figure-caption Javascript 

